:root {
  --color-light: #666;
}

html {
  color: #333;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

@media (min-width: 1000px) {
  html {
    font-size: 1.6vw;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 19.2px;
  }
}

body {
  background-color: #f8f9fa;
  max-width: 40rem;
  word-wrap: break-word;
}

main {
  background-color: #fff;
  padding: 3rem 2rem;
}

header {
  font-weight: 700;
  padding: 2rem;
}
